<main class="form_wrapper">
  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

  <%= form_with url: session_path do |form| %>
    <h1>ログイン</h1>
    <div class="form">
      <%= form.label :email_address, "メールアドレス" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address] %>
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password" %>
    </div>
    <%= form.submit "ログイン" %>
  <% end %>
  <br>

  <div>
    <%= link_to "新規登録", new_user_path %> / <%= link_to "パスワードのリセット", new_password_path %>
  </div>
</main>
