<% case layout.direction %>
<% when 'horizontal' %>
<div class="layout_container layout_container_editing" style="grid-template-columns: repeat(<%= layout.contents.length %>, 1fr);">
<% when 'vertical' %>
<div class="layout_container layout_container_editing" style="grid-template-rows: repeat(<%= layout.contents.length %>, 1fr);">
<% end %>

<div class="layout_editing_tag">
  <span>Layout</span>
  <% unless layout == Current.user.root_layout %>
    <%= button_to delete_layout_path(layout), method: :delete, class: "layout_editing_tag_button",
      data: { turbo_confirm: "削除したレイアウトは復元できません。\nこのレイアウトを削除してもよろしいですか？" } do
    %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
    <% end %>
  <% end %>
</div>

<% for child_layout in layout.contents.map { |id| Layout.find(id) } %>
  <% case child_layout.child_type %>
  <% when 'layout' %>
    <%= render partial: 'app/layout_edit', locals: { layout: child_layout } %>
  <% when 'module' %>
    <%= render partial: 'app/module_edit', locals: { layout: child_layout } %>
  <% end %>
<% end %>

</div>
