<% modal_id = "layout_editing_modal_#{layout.id}" %>

<% case layout.direction %>
<% when 'horizontal' %>
<div class="layout_container layout_container_editing" style="grid-template-columns: repeat(<%= layout.contents.length %>, 1fr);">
<% when 'vertical' %>
<div class="layout_container layout_container_editing" style="grid-template-rows: repeat(<%= layout.contents.length %>, 1fr);">
<% end %>

<div class="layout_editing_tag">
  <%= button_to switch_direction_layout_path(layout), method: :post, class: "layout_editing_tag_button" do %>
    <% case layout.direction %>
    <% when 'horizontal' %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"/></svg>
    <% when 'vertical' %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M480-240 240-480l56-56 144 144v-368h80v368l144-144 56 56-240 240Z"/></svg>
    <% end %>
  <% end %>
  <span>Layouts</span>
  <button class="layout_editing_tag_button" data-micromodal-trigger="<%= modal_id %>">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"/></svg>
  </button>
  <% unless layout == Current.user.root_layout %>
    <%= button_to delete_layout_path(layout), method: :delete, class: "layout_editing_tag_button",
      data: { turbo_confirm: "削除したレイアウトは復元できません。\nこのレイアウトを削除してもよろしいですか？" } do
    %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
    <% end %>
  <% end %>
</div>

<% for child_layout in layout.contents.map { |id| Layout.find(id) } %>
  <% case child_layout.child_type %>
  <% when 'layout' %>
    <%= render partial: 'app/layout_edit', locals: { layout: child_layout } %>
  <% when 'module' %>
    <%= render partial: 'app/module_edit', locals: { layout: child_layout } %>
  <% end %>
<% end %>

<div id="<%= modal_id %>" class="layout_editing_modal">
  <div class="layout_editing_modal_overlay" tabindex="-1" data-micromodal-close>
    <div role="dialog" aria-modal="true">
      <main class="layout_editing_modal_content">
        <h2>新規レイアウトの追加</h2>
        <%= form_with url: create_child_layout_path(layout), method: :post do |form| %>
          <div class="form">
            <%= form.label :child_type, "子要素の種類" %>
            <%= form.select :child_type, [["レイアウト", "layout"], ["モジュール", "module"]] %>
            <%= form.label :direction, "方向" %>
            <%= form.select :direction, [["横", "horizontal"], ["縦", "vertical"]] %>
          </div>
          <%= form.submit "作成" %>
        <% end %>
      </main>
    </div>
  </div>
</div>

</div>
