<div class="database_view">
  <%= form_with(model: database, class: "database_title_edit_area", data: {controller: 'databaseTitleEditor'}) do |form| %>
    <div class="database_title_edit_input_wrapper">
      <%= form.text_field :title, class: "database_title_edit_input", data: {
        "databaseTitleEditor-target" => "titleInput",
        "initial" => database.title,
        "action" => "input->databaseTitleEditor#onTitleInputUpdate",
      }%>
      <div class="database_title_edit_icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
      </div>
    </div>
    <%= button_tag type: "submit", class: "database_title_save_button",
      style: "display: none;", disabled: true,
      data: {"databaseTitleEditor-target" => "submitButton"} do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
    <% end %>
  <% end %>

  <div class="database_table_wrapper">
    <table class="database_table">
      <thead>
        <tr>
          <% for column in database.scheme %>
            <th><%= column[0] %></th>
          <% end %>
          <th>
            <%= button_to new_column_database_path(database), method: :post, class: "database_table_add_button" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"/></svg>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% for row in database.content %>
          <tr>
            <% for column in database.scheme %>
              <td><%= row[column[0]] %></td>
            <% end %>
          </tr>
        <% end %>
        <tr><td rowspan="<%= database.content.size %>">
          <%= button_to new_row_database_path(database), method: :post, class: "database_table_add_button" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"/></svg>
          <% end %>
        </td></tr>
      </tbody>
    </table>
  </div>
</div>
