<% case layout.direction %>
<% when 'horizontal' %>
<div class="layout_container component_container" style="grid-template-columns: repeat(<%= layout.contents.length %>, 1fr);">
<% when 'vertical' %>
<div class="layout_container component_container" style="grid-template-rows: repeat(<%= layout.contents.length %>, 1fr);">
<% end %>

<% for child_module in layout.contents %>
  <% case child_module['type'] %>
    <% when 'text' %>
      <span style="<%= module_style(child_module) %>"><%= render_text(child_module['text']) %></span>
    <% when 'database_table' %>
      <%= render Current.user.databases.find_by(id: child_module['database_id']) %>

    <% else %> <%# 'spacer' or otherwise  %>
      <div></div>
  <% end %>
<% end %>

</div>
